.mysearch input {
        width: 50%;
            border: none;
           color: black;
            border-radius: 20px;
            padding-block: 6px;
            padding-inline: 21px;
            border: 1px solid gray;
            outline-width: 0;
}